jsf-api/doc/web-partialresponse_2_0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.

 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.

 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"

 Contributor(s):

 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.
-->

<xsd:schema
     targetNamespace="http://java.sun.com/xml/ns/javaee"
     xmlns:javaee="http://java.sun.com/xml/ns/javaee"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xml="http://www.w3.org/XML/1998/namespace"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified"
     version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            $Id: web-partialresponse_2_0.xsd,v 1.0 2008/12/04 21:12:50 rogerk Exp $
        </xsd:documentation>
    </xsd:annotation>

    <xsd:annotation>
        <xsd:documentation>

            Copyright 2007 Sun Microsystems, Inc.,
            901 San Antonio Road,
            Palo Alto, California 94303, U.S.A.
            All rights reserved.

            Sun Microsystems, Inc. has intellectual property
            rights relating to technology described in this document. In
            particular, and without limitation, these intellectual
            property rights may include one or more of the U.S. patents
            listed at http://www.sun.com/patents and one or more
            additional patents or pending patent applications in the
            U.S. and other countries.

            This document and the technology which it describes are
            distributed under licenses restricting their use, copying,
            distribution, and decompilation. No part of this document
            may be reproduced in any form by any means without prior
            written authorization of Sun and its licensors, if any.

            Third-party software, including font technology, is
            copyrighted and licensed from Sun suppliers.

            Sun, Sun Microsystems, the Sun logo, Solaris, Java, Java EE,
            JavaServer Pages, Enterprise JavaBeans and the Java Coffee
            Cup logo are trademarks or registered trademarks of Sun
            Microsystems, Inc. in the U.S. and other countries.

            Federal Acquisitions: Commercial Software - Government Users
            Subject to Standard License Terms and Conditions.

        </xsd:documentation>
    </xsd:annotation>

    <xsd:annotation>
        <xsd:documentation>

            <![CDATA[

            The XML Schema for the JavaServer Faces (Version 2.0)  
            Partial Response used in JSF Ajax frameworks.

            ]]>

        </xsd:documentation>
    </xsd:annotation>

    <xsd:include schemaLocation="javaee_5.xsd"/>

    <!-- **************************************************** -->

    <xsd:element name = "partial-response" type="javaee:partial-responseType">
        <xsd:annotation>
            <xsd:documentation>

                The "partial-response" element is the root of the partial 
                response information hierarchy, and contains nested elements for all
                possible elements that can exist in the response. 

            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <!-- **************************************************** -->

    <xsd:complexType name="partial-responseType">
        <xsd:annotation>
            <xsd:documentation>

                The "partial-response" element is the root of thei partial 
                response information hierarchy, and contains nested elements for all
                possible elements that can exist in the response. 

            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="changes" 
                         type="javaee:partial-response-changesType" 
                         minOccurs="0" 
                         maxOccurs="1"/>
            <xsd:element name="redirect" 
                         type="javaee:partial-response-redirectType"
                         minOccurs="0" 
                         maxOccurs="1"/>
            <xsd:element name="error" 
                         type="javaee:partial-response-errorType"
                         minOccurs="0" 
                         maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="partial-response-changesType">
        <xsd:sequence>
            <xsd:element name="update"
                         type="javaee:partial-response-updateType"
                         minOccurs="0" 
                         maxOccurs="unbounded"/>
            <xsd:element name="insert"
                         type="javaee:partial-response-insertType"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="delete"
                         type="javaee:partial-response-deleteType"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="attributes"
                         type="javaee:partial-response-attributesType"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="eval" type="xsd:string"
                         minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>

                        The "eval" element enables this element's contents to be executed as JavaScript.

                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extension"
                         type="javaee:partial-response-extensionType"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="partial-response-updateType">
        <xsd:annotation> 
            <xsd:documentation>
               
                The "update" element enables DOM elements matching the "id"
                attribute to be updated with the contents of this element. 
                    
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="partial-response-insertType">
        <xsd:annotation> 
            <xsd:documentation>
                    
                The "insert" element enables content to be inserted into the DOM
                before or after an existing DOM element as specified by the
                "before" or "after" attributes.  The attributes "before" and
                "after" are mutually exclusive - one of them must be specified. 
                    
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
                <xsd:attribute name="before" type="xsd:string"/>
                <xsd:attribute name="after" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="partial-response-deleteType">
        <xsd:annotation> 
            <xsd:documentation>
                    
                The "delete" element enables DOM elements matching the "id"
                attribute to be removed. 
                
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="partial-response-attributesType">
        <xsd:annotation> 
            <xsd:documentation>
                    
                The "attributes" element enables attributes of DOM elements matching the "id"
                attribute to be updated.  If this element is used, then it must contain at
                least one "attribute" element. 
                    
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="attribute" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="partial-response-redirectType">
        <xsd:annotation> 
            <xsd:documentation>
                    
                The "redirect" element enables a redirect to the location as specified by the
                "url" attribute. 
                    
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="url" type="xsd:anyURI" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="partial-response-errorType">
        <xsd:annotation> 
            <xsd:documentation>
                    
                The "error" element contains error information from the server. 
                    
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="error-name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="error-message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="partial-response-extensionType">
        <xsd:annotation>
            <xsd:documentation>
                Extension element for partial response.  It may contain
                implementation specific content.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:any namespace="##any"
                     processContents="lax"
                     minOccurs="0"
                     maxOccurs="unbounded" />
         </xsd:sequence>
         <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>

</xsd:schema>




