jsf-api/doc/web-facesconfig_1_0.dtd

<!--
 Copyright 2003 Sun Microsystems, Inc. All rights reserved.
 SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
-->

<!--
    DTD for the JavaServer Faces Application Configuration File (Version 1.0)

    To support validation of your configuration file(s), include the following
    DOCTYPE element at the beginning (after the "xml" declaration):

    <!DOCTYPE faces-config PUBLIC
     "-//Sun Microsystems, Inc.//DTD JavaServer Faces Config 1.0//EN"
     "http://java.sun.com/dtd/web-facesconfig_1_0.dtd">

    $Id: web-facesconfig_1_0.dtd,v 1.14 2003/09/24 22:47:25 eburns Exp $

-->


<!-- ==================== Defined Types =================================== -->


<!--
    An "ActionRef" is a String that represents a value reference expression
    that points at a property of type javax.faces.application.Action.
-->
<!ENTITY % ActionRef "CDATA">


<!--
    A "ClassName" is the fully qualified name of a Java class that is
    instantiated to provide the functionality of the enclosing element.
-->
<!ENTITY % ClassName "CDATA">


<!--
    An "Identifier" is a string of characters that conforms to the variable
    naming conventions of the Java programming language (JLS Section ?.?.?).
-->
<!ENTITY % Identifier "CDATA">


<!--
    A "JavaType" is either the fully qualified name of a Java class that is
    instantiated to provide the functionality of the enclosing element, or
    the name of a Java primitive type (such as int or char).  The class name
    or primitive type may optionally be followed by "[]" to indicate that
    the underlying data must be an array, rather than a scalar variable.
-->
<!ENTITY % JavaType "CDATA">


<!--
    A "Language" is a lower case two-letter code for a language as defined
    by ISL-639.
-->
<!ENTITY % Language "CDATA">


<!--
    A "ResourcePath" is the relative or absolute path to a resource file
    (such as a logo image).
-->
<!ENTITY % ResourcePath "CDATA">


<!--
    A "Scope" is the well-known name of a scope in which managed beans may
    optionally be defined to be created in.
-->
<!ENTITY % Scope "(request|session|application)">



<!--
    A "ScopeOrNone" element defines the legal values for the
    <managed-bean-scope> element's body content, which includes
    all of the scopes respresented by the "Scope" type, plus the
    "none" value indicating that a created bean should not be
    stored into any scope.
-->
<!ENTITY % ScopeOrNone "(request|session|application|none)">


<!--
    A "Severity" is the message severity level associated with a parent
    "message" element.
-->
<!ENTITY % Severity "(fatal|error|warn|info)">


<!--
    A "ViewIdPattern" is a pattern for matching view identifiers in
    order to determine whether a particular navigation rule should be
    fired.  It must contain one of the following values:

    - The exact match for a view identifier that is recognized
      by the the ViewHandler implementation being used (such as
      "/index.jsp" if you are using the default ViewHandler).

    - A proper prefix of a view identifier, plus a trailing "*"
      character.  This pattern indicates that all view identifiers that
      match the portion of the pattern up to the asterisk will match the
      surrounding rule.  When more than one match exists, the match with
      the longest pattern is selected.

    - An "*" character, which means that this pattern applies to all
      view identifiers.
-->
<!ENTITY % ViewIdPattern "CDATA">


<!--
    A "ValueRef" is a syntactically valid value reference expression.
-->
<!ENTITY % ValueRef "CDATA">


<!-- ==================== Top Level Elements ============================== -->


<!--
    The "faces-config" element is the root of the configuration information
    hierarchy, and contains nested elements for all of the other configuration
    settings.
-->
<!ELEMENT faces-config    ((application|factory|component|converter|managed-bean|message-resources|navigation-rule|referenced-bean|render-kit|lifecycle|validator)*)>


<!-- ==================== Definition Elements ============================= -->


<!--
    The "application" element provides a mechanism to define the various
    per-application-singleton implementation classes for a particular web
    application that is utilizing JavaServer Faces.  For nested elements
    that are not specified, the JSF implementation must provide a suitable
    default.
-->
<!ELEMENT application     ((action-listener|navigation-handler|view-handler|property-resolver|variable-resolver)*)>


<!--
    The "factory" element provides a mechanism to define the various
    Factories that comprise parts of the implementation of JavaServer
    Faces.  For nested elements that are not specified, the JSF
    implementation must provide a suitable default.
-->
<!ELEMENT factory     ((application-factory|faces-context-factory|lifecycle-factory|render-kit-factory)*)>


<!--
    The "attribute" element represents a named, typed, value associated with
    the parent UIComponent via the generic attributes mechanism.

    Attribute names must be unique within the scope of the parent (or related)
    component.
-->
<!ELEMENT attribute       (description*, display-name*, icon*, attribute-name, attribute-class)>


<!--
    The "component" element represents a concrete UIComponent implementation
    class that should be registered under the specified type identifier,
    along with its associated properties and attributes.  Component types must
    be unique within the entire web application.

    Nested "attribute" elements identify generic attributes that are recognized
    by the implementation logic of this component.  Nested "property" elements
    identify JavaBeans properties of the component class that may be exposed
    for manipulation via tools.
-->
<!ELEMENT component       (description*, display-name*, icon*, component-type, component-class, attribute*, property*)>


<!--
    The "converter" element represents a concrete Converter implementation
    class that should be registered under the specified converter identifier.
    Converter identifiers must be unique within the entire web application.

    Nested "attribute" elements identify generic attributes that may be
    configured on the corresponding UIComponent in order to affect the
    operation of the Converter.  Nested "property" elements identify JavaBeans
    properties of the Converter implementation class that may be configured
    to affect the operation of the Converter.
-->
<!ELEMENT converter       (description*, display-name*, icon*, (converter-id | converter-for-class), converter-class, attribute*, property*)>


<!--
    The "icon" element contains "small-icon" and "large-icon" elements that
    specify the resoruce paths for small and large GIF or JPG icon images
    used to represent the parent element in a GUI tool.
-->
<!ELEMENT icon            (small-icon?, large-icon?)>
<!ATTLIST icon            xml:lang        %Language;      #IMPLIED>


<!--
    The "managed-bean" element represents a JavaBean, of a particular class,
    that will be dynamically instantiated at runtime (by the default
    VariableResolver implementation) if it is referenced as the first element
    of a value reference expression, and no corresponding bean can be
    identified in any scope.  In addition to the creation of the managed bean,
    and the optional storing of it into the specified scope, the nested
    managed-property elements can be used to initialize the contents of
    settable JavaBeans properties of the created instance.
-->
<!ELEMENT managed-bean (description*, display-name*, icon*, managed-bean-name, managed-bean-class, managed-bean-scope, managed-property*)>


<!--
    The "managed-property" element represents an individual property of a
    managed bean that will be configured to the specified value (or value set)
    if the corresponding managed bean is automatically created.
-->
<!ELEMENT managed-property (description*, display-name*, icon*, property-name, property-class?, (map-entries|null-value|value|value-ref|values))>


<!--
    The "map-entry" element reprsents a single key-entry pair that
    will be added to the computed value of a managed property of type
    java.util.Map.
-->
<!ELEMENT map-entry (key, (null-value|value|value-ref))>


<!--
    The "map-entries' element represents a set of key-entry pairs that
    will be added to the computed value of a managed property of type
    java.util.Map.  In addition, the Java class types of the key and entry
    values may be optionally declared.
-->
<!ELEMENT map-entries (key-class?, value-class?, map-entry*)>


<!--
    The "message" element represents an individual localizable message,
    identified by a message identifier.  Message identifiers must be unique
    within the scope of the parent message resources instance.

    If no nested "message-class" element is specified, the JSF implementation
    must provide a suitable default.

    If no "severity" element is provided, "error" is assumed.
-->
<!ELEMENT message         (message-id, message-class?, summary*, detail*, severity?)>


<!--
    The "message-resources" element represents a set of "message" elements
    for localizable messages related to a particular message resources id.
    Message resources identifiers must be unique within the entire web
    application.

    If no nested "message-resources-class" element is specified, the
    JSF implementation must provide a suitable default.
-->
<!ELEMENT message-resources (description*, display-name*, icon*, message-resources-id, message-resources-class?, message*)>


<!--
    The "navigation-case" element describes a particular combination of
    conditions that must match for this case to be executed, and the
    view id of the component tree that should be selected next.
-->
<!ELEMENT navigation-case (description*, display-name*, icon*, from-action-ref?, from-outcome?, to-view-id)>


<!--
    The "navigation-rule" element represents an individual decision rule
    that will be utilized by the default NavigationHandler
    implementation to make decisions on what view should be displayed
    next, based on the view id being processed.
-->
<!ELEMENT navigation-rule (description*, display-name*, icon*, from-view-id?, navigation-case*)>


<!--
    The "property" element represents a JavaBean property of the Java class
    represented by our parent element.

    Property names must be unique within the scope of the Java class
    that is represented by the parent element, and must correspond to
    property names that will be recognized when performing introspection
    against that class via java.beans.Introspector.
-->
<!ELEMENT property        (description*, display-name*, icon*, property-name, property-class)>


<!--
    The "referenced-bean" element represents at design time the promise
    that a Java object of the specified type will exist at runtime in some
    scope, under the specified key.  This can be used by design time tools
    to construct user interface dialogs based on the properties of the
    specified class.  The presence or absence of a referenced bean
    element has no impact on the JavaServer Faces runtime environment
    inside a web application.
-->
<!ELEMENT referenced-bean (description*, display-name*, icon*, referenced-bean-name, referenced-bean-class)>


<!--
    The "lifecycle" element provides a mechanism to specify
    modifications to the behaviour of the default Lifecycle
    implementation for this web application.
-->
<!ELEMENT lifecycle       (phase-listener*)>

<!--
    The "render-kit" element represents a concrete RenderKit implementation
    that should be registered under the specified render-kit-id.  If no
    render-kit-id is specified, the identifier of the default RenderKit
    (RenderKitFactory.DEFAULT_RENDER_KIT) is assumed.
-->
<!ELEMENT render-kit      (description*, display-name*, icon*, render-kit-id?, render-kit-class?, renderer*)>


<!--
    The "renderer" element represents a concrete Renderer implementation
    class that should be registered under the specified type identifier,
    in the RenderKit associated with the parent render-kit element.  Renderer
    types must be unique within the RenderKit associated with the parent
    "render-kit" element.

    Nested "attribute" elements identify generic component attributes that
    are recognized by this renderer.  Nested "component-type" and
    "component-class" elements identify supported component classes, by
    their type identifiers or the implementation class name, respectively,
    that are supported by this Renderer.
-->
<!ELEMENT renderer        (description*, display-name*, icon*, renderer-type, renderer-class, attribute*, component-type*, component-class*)>


<!--
    The "validator" element represents a concrete Validator implementation
    class that should be registered under the specified validator identifier.
    Validator identifiers must be unique within the entire web application.

    Nested "attribute" elements identify generic attributes that may be
    configured on the corresponding UIComponent in order to affect the
    operation of the Validator.  Nested "property" elements identify JavaBeans
    properties of the Validator implementation class that may be configured
    to affect the operation of the Validator.
-->
<!ELEMENT validator       (description*, display-name*, icon*, validator-id, validator-class, attribute*, property*)>


<!--
    The "values" element represents a set of initialization elements for
    a managed property that is a Collection or an array.  In the former
    case, the "value-class" element can optionally be used to declare the
    Java type to which each value should be converted before adding it to
    the Collection.
-->
<!ELEMENT values          (value-class?, (null-value|value|value-ref)*)>


<!-- ==================== Subordinate Elements ============================ -->


<!--
    The "action-listener" element contains the fully qualified class name
    of the concrete ActionListener implementation class that will be called
    during the Invoke Application phase of the request processing lifecycle.
    It must be of type "ClassName".
-->
<!ELEMENT action-listener (#PCDATA)>

<!--
    The "application-factory" element contains the fully qualified class
    name of the concrete ApplicationFactory implementation class that
    will be called when FactoryFinder.getFactory(APPLICATION_FACTORY) is
    called. It must be of type "ClassName".
-->
<!ELEMENT application-factory (#PCDATA)>

<!--
    The "attribute-class" element represents the Java type of the value
    associated with this attribute name.  It must be of type "ClassName".
-->
<!ELEMENT attribute-class (#PCDATA)>


<!--
    The "attribute-name" element represents the name under which the
    corresponding value will be stored, in the generic attributes of the
    UIComponent we are related to.
-->
<!ELEMENT attribute-name  (#PCDATA)>


<!--
    The "component-class" element represents the fully qualified class name
    of a concrete UIComponent implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT component-class (#PCDATA)>


<!--
    The "component-type" element represents the name under which the
    corresponding UIComponent class should be registered.
-->
<!ELEMENT component-type  (#PCDATA)>


<!--
    The "converter-class" element represents the fully qualified class name
    of a concrete Converter implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT converter-class (#PCDATA)>


<!--
    The "converter-for-class" element represents the fully qualified class name
    for which a Converter class will be registered.  It must be of
    type "ClassName".
-->
<!ELEMENT converter-for-class (#PCDATA)>


<!--
    The "converter-id" element represents the identifier under which the
    corresponding Converter class should be registered.
-->
<!ELEMENT converter-id    (#PCDATA)>


<!--
    The "description" element contains a textual description of the element
    it is nested in, optionally flagged with a language code using the
    "xml:lang" attribute.
-->
<!ELEMENT description     (#PCDATA)>
<!ATTLIST description     xml:lang        %Language;      #IMPLIED>


<!--
    The "detail" element contains the detail error message text
    for the parent "message" element, optionally flagged with a language
    code using the "xml:lang" attribute.  If no "xml:lang" attribute is
    present, this text should be assumed to be in the language
    specified by the default Locale for the underlying JVM.
-->
<!ELEMENT detail          (#PCDATA)>
<!ATTLIST detail          xml:lang        %Language;      #IMPLIED>


<!--
    The "display-name" element is a short descriptive name describing the
    entity associated with the element it is nested in, intended to be
    displayed by tools, and optionally flagged with a language code using
    the "xml:lang" attribute.
-->
<!ELEMENT display-name    (#PCDATA)>
<!ATTLIST display-name    xml:lang        %Language;      #IMPLIED>

<!--
    The "faces-context-factory" element contains the fully qualified
    class name of the concrete FacesContextFactory implementation class
    that will be called when
    FactoryFinder.getFactory(FACES_CONTEXT_FACTORY) is called. It must
    be of type "ClassName".
-->
<!ELEMENT faces-context-factory (#PCDATA)>

<!--
    The "from-action-ref" element contains an action reference expression
    that must have been executed (by the default ActionListener for handling
    application level events) in order to select this navigation rule.  If
    not specified, this rule will be relevant no matter which action reference
    was executed (or if no action reference was executed).

    This value must be of type "ActionRef".
-->
<!ELEMENT from-action-ref (#PCDATA)>


<!--
    The "from-outcome" element contains a logical outcome string returned
    by the execution of an applications Action component selected via an
    "actionRef" property (or a literal value specified by an "action"
    property) of a UICommand component.  If specified, this rule will be
    relevant only if the outcome value matches this element's value.  If
    not specified, this rule will be relevant no matter what the outcome
    value was.
-->
<!ELEMENT from-outcome    (#PCDATA)>


<!--
    The "from-view-id" element contains the view identifier of the view
    for which the containing navigation rule is relevant.  If no
    "from-view" element is specified, this rule applies to navigation
    decisions on all views.  If this element is not specified, a value
    of "*" is assumed, meaning that this navigation rule applies to all
    views.

    This value must be of type "ViewIdPattern".
-->
<!ELEMENT from-view-id    (#PCDATA)>


<!--
    The "key" element is the String representation of a map key that
    will be stored in a managed property of type java.util.Map.  It must
    be of type "ClassName".
-->
<!ELEMENT key             (#PCDATA)>


<!--
    The "key-class" element defines the Java type to which each "key"
    element in a set of "map-entry" elements will be converted to.  It
    must be of type "ClassName".  If ommitted, "java.lang.String"
    is assumed.
-->
<!ELEMENT key-class       (#PCDATA)>


<!--
    The "large-icon" element contains the resource path to a large (32x32)
    icon image.  The image may be in either GIF or JPG format.
-->
<!ELEMENT large-icon      (#PCDATA)>

<!--
    The "lifecycle-factory" element contains the fully qualified class name
    of the concrete LifecycleFactory implementation class that will be called
    when FactoryFinder.getFactory(LIFECYCLE_FACTORY) is called. It must be 
    of type "ClassName".
-->
<!ELEMENT lifecycle-factory (#PCDATA)>

<!--
    The "managed-bean-class" element represents the fully qualified class
    name of the Java class that will be used to instantiate a new instance
    if creation of the specified managed bean is requested.  It must be of
    type "ClassName".

    The specified class must conform to standard JavaBeans conventions.
    In particular, it must have a public zero-arguments constructor, and
    zero or more public property setters.
-->
<!ELEMENT managed-bean-class  (#PCDATA)>


<!--
    The "managed-bean-name" element represents the attribute name under
    which a managed bean will be searched for, as well as stored (unless
    the "managed-bean-scope" value is "none").  It must be of type
    "Identifier".
-->
<!ELEMENT managed-bean-name (#PCDATA)>


<!--
    The "managed-bean-scope" element represents the scope into which a newly
    created instance of the specified managed bean will be stored (unless
    the value is "none").  It must be of type "ScopeOrNone".
-->
<!ELEMENT managed-bean-scope (#PCDATA)>


<!--
    The "message-class" element represents the fully qualified class name
    of a concrete Message implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT message-class   (#PCDATA)>


<!--
    The "message-id" element represents the identifier under which the
    corresponding "message" should be registered.
-->
<!ELEMENT message-id      (#PCDATA)>


<!--
    The "message-resources-class" element represents the fully qualified class
    name of a concrete MessageResources implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT message-resources-class (#PCDATA)>


<!--
    The "message-resources-id" element represents the identifier under which
    the corresponding MessageResources class should be registered.
-->
<!ELEMENT message-resources-id    (#PCDATA)>


<!--
    The "navigation-handler" element contains the fully qualified class name
    of the concrete NavigationHandler implementation class that will be called
    during the Invoke Application phase of the request processing lifecycle,
    if the default ActionListener (provided by the JSF implementation) is used.
    It must be of type "ClassName".
-->
<!ELEMENT navigation-handler (#PCDATA)>

<!--
The "phase-listener" element contains the fully qualified class
name of the concrete PhaseListener implementation class that will be
registered on the Lifecycle. It must be of type "ClassName".
-->
<!ELEMENT phase-listener (#PCDATA)>

<!--

    The "view-handler" element contains the fully qualified class name
    of the concrete ViewHandler implementation class that will be called
    during the Restore View and Render Response phases of the request
    processing lifecycle.  The faces implementation must provide a
    default implementation of this class
-->
<!ELEMENT view-handler (#PCDATA)>

<!--
    The "null-value" element indicates that the managed property in which we
    are nested will be explicitly set to null if our managed bean is
    automatically created.  This is different from omitting the managed
    property element entirely, which will cause no property setter to be
    called for this property.

    The "null-value" element can only be used when the associated
    "property-class" identifies a Java class, not a Java primitive.
-->
<!ELEMENT null-value EMPTY>


<!--
    The "property-class" element represents the Java type of the value
    associated with this property name.  It must be of type "JavaType".
    If not specified, it can be inferred from existing classes; however,
    this element should be specified if the configuration file is going
    to be the source for generating the corresponding classes.
-->
<!ELEMENT property-class  (#PCDATA)>


<!--
    The "property-name" element represents the JavaBeans property name
    under which the corresponding value may be stored.
-->
<!ELEMENT property-name   (#PCDATA)>


<!--
    The "property-resolver" element contains the fully qualified class name
    of the concrete PropertyResolver implementation class that will be used
    during the processing of value reference expressions.
    It must be of type "ClassName".
-->
<!ELEMENT property-resolver (#PCDATA)>


<!--
    The "referenced-bean-class" element represents the fully qualified class
    name of the Java class (either abstract or concrete) or Java interface
    implemented by the corresponding referenced bean.  It must be of type
    "ClassName".
-->
<!ELEMENT referenced-bean-class  (#PCDATA)>


<!--
    The "referenced-bean-name" element represents the attribute name under
    which the corresponding referenced bean may be assumed to be stored,
    in one of the scopes defined by the "Scope" type.  It must be of type
    "Identifier".
-->
<!ELEMENT referenced-bean-name (#PCDATA)>


<!--
    The "render-kit-id" element represents an identifier for the
    RenderKit represented by the parent "render-kit" element.
-->
<!ELEMENT render-kit-id   (#PCDATA)>


<!--
    The "render-kit-class" element represents the fully qualified class name
    of a concrete RenderKit implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT render-kit-class (#PCDATA)>


<!--
    The "renderer-class" element represents the fully qualified class name
    of a concrete Renderer implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT renderer-class  (#PCDATA)>

<!--
    The "render-kit-factory" element contains the fully qualified class name
    of the concrete RenderKitFactory implementation class that will be called
    when FactoryFinder.getFactory(RENDER_KIT_FACTORY) is called. It must be 
    of type "ClassName".
-->
<!ELEMENT render-kit-factory (#PCDATA)>

<!--
    The "renderer-type" element represents an identifier for the
    Renderer represented by the parent "renderer" element.
-->
<!ELEMENT renderer-type   (#PCDATA)>


<!--
    The "severity" element contains the severity level of the parent
    "message" element.  It must be of type "Severity".
-->
<!ELEMENT severity        (#PCDATA)>


<!--
    The "small-icon" element contains the resource path to a large (16x16)
    icon image.  The image may be in either GIF or JPG format.
-->
<!ELEMENT small-icon      (#PCDATA)>


<!--
    The "summary" element contains the summary error message text
    for the parent "message" element, optionally flagged with a language
    code using the "xml:lang" attribute.  If no "xml:lang" attribute is
    present, this text should be assumed to be in the language
    specified by the default Locale for the underlying JVM.
-->
<!ELEMENT summary         (#PCDATA)>
<!ATTLIST summary         xml:lang        %Language;      #IMPLIED>


<!--
    The "to-view" element contains the view identifier of the next view
    that should be displayed if this navigation rule is matched.  It
    must be of type "ViewId".
-->
<!ELEMENT to-view-id      (#PCDATA)>


<!--
    The "validator-class" element represents the fully qualified class name
    of a concrete Validator implementation class.  It must be of
    type "ClassName".
-->
<!ELEMENT validator-class (#PCDATA)>


<!--
    The "validator-id" element represents the identifier under which the
    corresponding Validator class should be registered.
-->
<!ELEMENT validator-id    (#PCDATA)>


<!--
    The "value" element is the String representation of a literal
    value to which a scalar managed property will be set.  It will be
    converted as specified for the actual property type.
-->
<!ELEMENT value (#PCDATA)>


<!--
    The "value-class" element defines the Java type to which each
    "value" element's value will be converted to, prior to adding it to
    the "values" list for a managed property that is a Collection.
    It must be of type "ClassName".  If ommitted, "java.lang.String"
    is assumed.
-->
<!ELEMENT value-class (#PCDATA)>


<!--
    The "value-ref" element is a value reference expression that must be
    evaluated (in the same context as the expression that caused the creation
    of the managed bean we are nsted in) to acquire the value used to
    configure this managed property.  It must be of type "ValueRef".
-->
<!ELEMENT value-ref (#PCDATA)>



<!--
    The "variable-resolver" element contains the fully qualified class name
    of the concrete VariableResolver implementation class that will be used
    during the processing of value reference expressions.
    It must be of type "ClassName".
-->
<!ELEMENT variable-resolver (#PCDATA)>


